@font-face {
  font-family: "My_Roboto";
  src: url("../Polices/Roboto-Black.ttf") format("TrueType"); }
@font-face {
  font-family: "My_Shrikhand";
  src: url("../Polices/Shrikhand-Regular.otf") format("otf"), url("../Polices/shrikhand-regular.woff2") format("woff2"), url("../Polices/shrikhand-regular.woff") format("woff"); }
@font-face {
  font-family: "My_Roboto";
  src: url("../Polices/Roboto-Black.ttf") format("TrueType"); }
@font-face {
  font-family: "My_Shrikhand";
  src: url("../Polices/Shrikhand-Regular.otf") format("otf"), url("../Polices/shrikhand-regular.woff2") format("woff2"), url("../Polices/shrikhand-regular.woff") format("woff"); }
.header {
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .header__logo {
    width: 300px;
    height: 100px;
    background-image: url("../Maquettes_Ohmyfood/images/logo/ohmyfood.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto; }

.btn {
  z-index: 1;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 50px; }
  .btn--color {
    position: relative;
    border: 0px;
    border-radius: 2rem;
    background: radial-gradient(ellipse at 20px -20px, #FF79DA 0%, #9356DC 100%);
    color: white;
    box-shadow: 5px 5px 5px #c9c5c5; }
    .btn--color::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity 1s;
      box-shadow: 8px 8px 5px #c9c5c5;
      border-radius: 2rem;
      background: radial-gradient(ellipse at 30px 0px, #fface8 0%, #a16be0 100%); }
  .btn:hover::after {
    opacity: 1; }

.btn-row {
  position: absolute;
  margin-bottom: 0px;
  padding: 10px; }
  .btn-row a {
    color: black; }
  .btn-row .fa-arrow-left {
    vertical-align: middle; }

@keyframes spinner_loader {
  0%,99% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes page_loader {
  0%, 99% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes pop_up {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@font-face {
  font-family: "My_Roboto";
  src: url("../Polices/Roboto-Black.ttf") format("TrueType"); }
@font-face {
  font-family: "My_Shrikhand";
  src: url("../Polices/Shrikhand-Regular.otf") format("otf"), url("../Polices/shrikhand-regular.woff2") format("woff2"), url("../Polices/shrikhand-regular.woff") format("woff"); }
footer {
  position: relative;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: #494848;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: lighter;
  font-family: serif; }
  footer .footer__logo {
    width: 200px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: 'My_Shrikhand', serif;
    font-style: italic; }
    @media (min-width: 1200px) {
      footer .footer__logo {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center; } }
    @media (min-width: 1200px) {
      footer .footer__logo {
        margin: auto; } }
  footer ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 20px; }
    @media (min-width: 1200px) {
      footer ul {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; } }
  footer a {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-decoration: none; }
  footer i {
    margin-right: 6px;
    width: 20px; }
  footer p {
    margin-top: 8px;
    margin-bottom: 8px; }

body {
  font-family: "My_Roboto";
  width: 100%;
  margin: auto;
  background-color: #EAEAEA; }

.menu {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  position: relative;
  top: -20px;
  background-color: #EAEAEA;
  border-radius: 1.5rem 1.5rem 0rem 0rem; }

.menu__title {
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  .menu__title h2 {
    font-family: "My_Shrikhand";
    font-style: italic; }
    @media (min-width: 1200px) {
      .menu__title h2 {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center; } }
  .menu__title .fas.fa-heart {
    position: absolute;
    right: 30px;
    vertical-align: top;
    opacity: 0;
    color: #9356DC;
    display: inline-block;
    margin-top: 0px;
    z-index: 2;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
    transition: opacity 3s; }
    .menu__title .fas.fa-heart:active {
      cursor: pointer;
      opacity: 1; }
  .menu__title .far.fa-heart {
    position: absolute;
    right: 30px;
    vertical-align: top;
    color: black;
    display: inline-block;
    margin-top: 0px;
    z-index: 1;
    transform: scale(1.5);
    transition: opacity 3s; }
    .menu__title .far.fa-heart:active {
      opacity: 0; }

.entries {
  animation: pop_up 4s 0s both;
  position: relative;
  margin-top: 30px; }
  .entries h3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin-bottom: auto;
    font-family: serif;
    font-weight: lighter; }
    @media (min-width: 376px) and (max-width: 1300px) {
      .entries h3 {
        margin-left: 40px; } }
    @media (min-width: 1200px) {
      .entries h3 {
        margin-left: 67px; } }
  .entries hr {
    width: 50px;
    border: 2px solid #99E2D0;
    margin-left: 21px; }
    @media (min-width: 376px) and (max-width: 1300px) {
      .entries hr {
        margin-left: 40px; } }
    @media (min-width: 1200px) {
      .entries hr {
        margin-left: 67px; } }

.entries-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 1200px) {
    .entries-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; } }
  .entries-list__entry {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    background-color: white;
    border: 1px #d1d1d1 solid;
    box-shadow: 3px 3px 1.5px #b7b7b7;
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .entries-list__entry {
        width: 350px;
        margin-right: auto;
        margin-left: auto;
        text-align: left; } }
    .entries-list__entry h4 {
      font-family: serif;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      width: 310px; }
    .entries-list__entry p {
      position: relative;
      width: 80%;
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-block;
      font-family: serif;
      overflow: hidden;
      text-overflow: ellipsis; }
    .entries-list__entry:active p {
      width: 40%; }
    .entries-list__entry:active .price__link {
      transform: translate(-7vh, 0vh); }
    .entries-list__entry:active .check {
      transform: translate(-6vh, 0vh); }
      @media (min-width: 1200px) {
        .entries-list__entry:active .check {
          transform: translate(-7.5vh, 0vh); } }
      @media (min-width: 376px) and (max-width: 1300px) {
        .entries-list__entry:active .check {
          transform: translate(-4.5vh, 0vh); } }
    .entries-list__entry:active .fa-check-circle {
      transform: rotate(0deg); }

.plates {
  animation: pop_up 4s 2s both;
  position: relative;
  margin-top: 30px; }
  .plates h3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin-bottom: auto;
    font-family: serif;
    font-weight: lighter; }
    @media (min-width: 376px) and (max-width: 1300px) {
      .plates h3 {
        margin-left: 40px; } }
    @media (min-width: 1200px) {
      .plates h3 {
        margin-left: 67px; } }
  .plates hr {
    width: 50px;
    border: 2px solid #99E2D0;
    margin-left: 21px; }
    @media (min-width: 376px) and (max-width: 1300px) {
      .plates hr {
        margin-left: 40px; } }
    @media (min-width: 1200px) {
      .plates hr {
        margin-left: 67px; } }

.plates-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 1200px) {
    .plates-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; } }
  .plates-list__plate {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    background-color: white;
    border: 1px #d1d1d1 solid;
    box-shadow: 3px 3px 1.5px #b7b7b7;
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .plates-list__plate {
        width: 350px;
        margin-right: auto;
        margin-left: auto;
        text-align: left; } }
    .plates-list__plate h4 {
      font-family: serif;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      width: 310px; }
    .plates-list__plate p {
      position: relative;
      width: 80%;
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-block;
      font-family: serif;
      overflow: hidden;
      text-overflow: ellipsis; }
    .plates-list__plate:active p {
      width: 40%; }
    .plates-list__plate:active .price__link {
      transform: translate(-7vh, 0vh); }
    .plates-list__plate:active .check {
      transform: translate(-6vh, 0vh); }
      @media (min-width: 1200px) {
        .plates-list__plate:active .check {
          transform: translate(-7.5vh, 0vh); } }
      @media (min-width: 376px) and (max-width: 1300px) {
        .plates-list__plate:active .check {
          transform: translate(-4.5vh, 0vh); } }
    .plates-list__plate:active .fa-check-circle {
      transform: rotate(0deg); }

.desserts {
  animation: pop_up 4s 4s both;
  position: relative;
  margin-top: 30px; }
  .desserts h3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    margin-bottom: auto;
    font-family: serif;
    font-weight: lighter; }
    @media (min-width: 376px) and (max-width: 1300px) {
      .desserts h3 {
        margin-left: 40px; } }
    @media (min-width: 1200px) {
      .desserts h3 {
        margin-left: 67px; } }
  .desserts hr {
    width: 50px;
    border: 2px solid #99E2D0;
    margin-left: 21px; }
    @media (min-width: 376px) and (max-width: 1300px) {
      .desserts hr {
        margin-left: 40px; } }
    @media (min-width: 1200px) {
      .desserts hr {
        margin-left: 67px; } }

.desserts-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 1200px) {
    .desserts-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; } }
  .desserts-list__dessert {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    background-color: white;
    border: 1px #d1d1d1 solid;
    box-shadow: 3px 3px 1.5px #b7b7b7;
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .desserts-list__dessert {
        width: 350px;
        margin-right: auto;
        margin-left: auto;
        text-align: left; } }
    .desserts-list__dessert h4 {
      font-family: serif;
      margin-top: 10px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      width: 310px; }
    .desserts-list__dessert p {
      position: relative;
      width: 80%;
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-block;
      font-family: serif;
      overflow: hidden;
      text-overflow: ellipsis; }
    .desserts-list__dessert:active p {
      width: 40%; }
    .desserts-list__dessert:active .price__link {
      transform: translate(-7vh, 0vh); }
    .desserts-list__dessert:active .check {
      transform: translate(-6vh, 0vh); }
      @media (min-width: 1200px) {
        .desserts-list__dessert:active .check {
          transform: translate(-7.5vh, 0vh); } }
      @media (min-width: 376px) and (max-width: 1300px) {
        .desserts-list__dessert:active .check {
          transform: translate(-4.5vh, 0vh); } }
    .desserts-list__dessert:active .fa-check-circle {
      transform: rotate(0deg); }

.bloc-btn {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #EAEAEA;
  margin-top: 20px;
  margin-bottom: 40px; }

.price {
  position: absolute;
  right: -50px;
  top: 0px;
  text-decoration: none;
  color: black;
  height: 100%; }
  .price__link {
    display: inline-block;
    position: relative;
    top: 23px;
    width: 30px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: transform 2s;
    margin-right: 10px; }

.check {
  border-radius: 0rem 1rem 1rem 0rem;
  display: inline-block;
  background-color: #99E2D0;
  transition: all 2s ease;
  width: 50px;
  height: 100%; }
  .check .fa-check-circle {
    transform: rotate(-180deg);
    transition: transform 2s;
    margin: 42%;
    color: white; }

.cover {
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 99%;
  height: 200px;
  background-image: url("../Maquettes_Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0px 0px; }

/*# sourceMappingURL=menu_le_delice_des_sens.css.map */
