@import "../Utils/variables";
@import "../Utils/mixins";

.btn
{
        
    
    z-index: 1;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;    
    margin-bottom: 50px;
    
    &--color
    {
        position: relative;
        border: 0px;
        border-radius: 2rem;
        background: radial-gradient(ellipse at 20px -20px, $secondaryColor 0%, $primaryColor 100%);
        //background: linear-gradient($secondaryColor, lighten($primaryColor,5), $primaryColor);
        color: white;
        box-shadow: 5px 5px 5px #c9c5c5;

        &::after
        {       
            //@include btn-after(2rem, radial-gradient(circle, lighten($primaryColor, 10) 0%, lighten($secondaryColor, 10) 100%));
            @include btn-after(2rem, radial-gradient(ellipse at 30px 0px, lighten($secondaryColor, 5) 0%, lighten($primaryColor, 5) 100%));
        }
    }
   

    &:hover
    {
       
        &::after
        {
            opacity: 1;
        }
    }

    
}


.btn-row
{
    position: absolute;
    margin-bottom: 0px;
    padding: 10px;
    a 
    {
        color: black;
    }
    .fa-arrow-left
    {
        vertical-align: middle;
        
    }
}

