@import "../Utils/variables";
@import "../Utils/mixins";

.btn
{
        
    
    z-index: 1;
    padding: 15px;    
    margin-bottom: 50px;
    
    &--color
    {
        position: relative;
        border-radius: 2rem;
        //background: radial-gradient(circle, $primaryColor 0%, $secondaryColor 100%);
        background: linear-gradient($secondaryColor, lighten($primaryColor,10), darken($primaryColor, 10));
        color: white;
        box-shadow: 5px 5px 5px #c9c5c5;

        &::after
        {       
            @include btn-after(2rem, radial-gradient(circle, lighten($primaryColor, 10) 0%, lighten($secondaryColor, 10) 100%));
            
        }
    }
   

    &:hover
    {
       
        &::after
        {
            opacity: 1;
        }
    }

    
}


.btn-row
{
    margin-bottom: 0px;
    a 
    {
        color: black;
    }
    .fa-arrow-left
    {
        vertical-align: middle;
        
    }
}

