@import "../Utils/variables";
@import "../Utils/mixins";

@mixin heart-btn($margin-top)
{
    .fas.fa-heart
    {             
        position: absolute;
        right: 30px;
        vertical-align: top;
        opacity: 0;
        color: $primaryColor;
        display: inline-block; 
        margin-top: $margin-top;
        z-index: 2;     
        background: -webkit-linear-gradient($primaryColor, lighten($primaryColor, 30));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;   
        
        transition: opacity 1s;

        &:hover
        {
            opacity: 1;
        }
    }
    .far.fa-heart
    {
        position: absolute;
        right: 30px;
        vertical-align: top;
        color: black;
        display: inline-block; 
        margin-top: $margin-top;  
        z-index: 1;      
        
        transition: opacity 1s;

        &:hover
        {
            opacity: 0;
        }
        
    }
}