@font-face {
  font-family: "My_Roboto";
  src: url("./Polices/Roboto-Black.ttf") format("TrueType");
}

@font-face {
  font-family: "My_Shrikhand";
  src: url("./Polices/Shrikhand-Regular.otf") format("otf");
}

@font-face {
  font-family: "My_Roboto";
  src: url("./Polices/Roboto-Black.ttf") format("TrueType");
}

@font-face {
  font-family: "My_Shrikhand";
  src: url("./Polices/Shrikhand-Regular.otf") format("otf");
}

.header {
  width: 99%;
  margin: auto;
  text-align: center;
}

.header__logo {
  width: 100%;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  background-image: url("./Maquettes_Ohmyfood/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
}

.btn {
  z-index: 1;
  padding: 15px;
  margin-bottom: 50px;
}

.btn--color {
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(#ae80e5), to(#782cd3));
  background: linear-gradient(#FF79DA, #ae80e5, #782cd3);
  color: white;
  -webkit-box-shadow: 5px 5px 5px #c9c5c5;
          box-shadow: 5px 5px 5px #c9c5c5;
}

.btn--color::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  -webkit-box-shadow: 8px 8px 5px #c9c5c5;
          box-shadow: 8px 8px 5px #c9c5c5;
  border-radius: 2rem;
  background: radial-gradient(circle, #ae80e5 0%, #fface8 100%);
}

.btn:hover::after {
  opacity: 1;
}

.btn-row {
  margin-bottom: 0px;
}

.btn-row a {
  color: black;
}

.btn-row .fa-arrow-left {
  vertical-align: middle;
}

footer {
  position: relative;
  width: 99%;
  margin: auto;
  text-align: left;
  background-color: #494848;
  color: white;
}

footer .footer__logo {
  width: 80%;
  height: 70px;
  background-image: url("./Maquettes_Ohmyfood/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  padding: 0px;
  margin-left: 0px;
  position: relative;
  left: -60px;
  margin-bottom: 0px;
}

footer ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 12px;
}

footer a {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

footer i {
  margin-right: 6px;
}

footer p {
  margin-top: 8px;
  margin-bottom: 8px;
}

body {
  width: 99%;
  margin: auto;
  text-align: left;
  font-family: "My_Roboto";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 99%;
  margin: auto;
  text-align: left;
  position: relative;
  top: -20px;
  background-color: #EAEAEA;
  border-radius: 1.5rem;
}

.menu__title {
  position: relative;
  width: 85%;
  margin: auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title h2 {
  font-family: "My_Shrikhand";
  font-style: italic;
}

.menu__title .fas.fa-heart {
  position: absolute;
  right: 30px;
  vertical-align: top;
  opacity: 0;
  color: #9356DC;
  display: inline-block;
  margin-top: 0px;
  z-index: 2;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.menu__title .fas.fa-heart:hover {
  opacity: 1;
}

.menu__title .far.fa-heart {
  position: absolute;
  right: 30px;
  vertical-align: top;
  color: black;
  display: inline-block;
  margin-top: 0px;
  z-index: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.menu__title .far.fa-heart:hover {
  opacity: 0;
}

.entries {
  position: relative;
}

.entries h3 {
  width: 85%;
  margin: auto;
  text-align: left;
}

.entries hr {
  width: 50px;
  color: #99E2D0;
  margin-left: 0px;
}

.entries-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entries-list__entry {
  position: relative;
  width: 85%;
  margin: auto;
  text-align: left;
  border-radius: 1rem;
  background-color: white;
  border: 1px #d1d1d1 solid;
  -webkit-box-shadow: 3px 3px 1.5px #b7b7b7;
          box-shadow: 3px 3px 1.5px #b7b7b7;
  padding: 7px;
  margin-bottom: 20px;
}

.entries-list__entry h4 {
  font-family: "My_Shrikhand";
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 15pt;
}

.entries-list__entry p {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-block;
  font-size: 10pt;
}

.entries-list__entry .price {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50px;
  text-decoration: none;
  color: black;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.entries-list__entry .price:active {
  -webkit-transform: translate(-70px, 0vh);
          transform: translate(-70px, 0vh);
}

.entries-list__entry .price:active + .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.entries-list__entry .price:active + .check .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.entries-list__entry .check {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border-radius: 0px 1rem 1rem 0px;
  background-color: #99E2D0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 60px;
  height: 100%;
}

.entries-list__entry .check .fa-check-circle {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  margin: 42%;
  color: white;
}

.plates {
  position: relative;
}

.plates h3 {
  width: 85%;
  margin: auto;
  text-align: left;
}

.plates hr {
  width: 50px;
  color: #99E2D0;
  margin-left: 0px;
}

.plates-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plates-list__plate {
  position: relative;
  width: 85%;
  margin: auto;
  text-align: left;
  border-radius: 1rem;
  background-color: white;
  border: 1px #d1d1d1 solid;
  -webkit-box-shadow: 3px 3px 1.5px #b7b7b7;
          box-shadow: 3px 3px 1.5px #b7b7b7;
  padding: 7px;
  margin-bottom: 20px;
}

.plates-list__plate h4 {
  font-family: "My_Shrikhand";
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 15pt;
}

.plates-list__plate p {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-block;
  font-size: 10pt;
}

.plates-list__plate .price {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50px;
  text-decoration: none;
  color: black;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.plates-list__plate .price:active {
  -webkit-transform: translate(-70px, 0vh);
          transform: translate(-70px, 0vh);
}

.plates-list__plate .price:active + .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.plates-list__plate .price:active + .check .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.plates-list__plate .check {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border-radius: 0px 1rem 1rem 0px;
  background-color: #99E2D0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 60px;
  height: 100%;
}

.plates-list__plate .check .fa-check-circle {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  margin: 42%;
  color: white;
}

.desserts {
  position: relative;
}

.desserts h3 {
  width: 85%;
  margin: auto;
  text-align: left;
}

.desserts hr {
  width: 50px;
  color: #99E2D0;
  margin-left: 0px;
}

.desserts-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desserts-list__dessert {
  position: relative;
  width: 85%;
  margin: auto;
  text-align: left;
  border-radius: 1rem;
  background-color: white;
  border: 1px #d1d1d1 solid;
  -webkit-box-shadow: 3px 3px 1.5px #b7b7b7;
          box-shadow: 3px 3px 1.5px #b7b7b7;
  padding: 7px;
  margin-bottom: 20px;
}

.desserts-list__dessert h4 {
  font-family: "My_Shrikhand";
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 15pt;
}

.desserts-list__dessert p {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-block;
  font-size: 10pt;
}

.desserts-list__dessert .price {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50px;
  text-decoration: none;
  color: black;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.desserts-list__dessert .price:active {
  -webkit-transform: translate(-70px, 0vh);
          transform: translate(-70px, 0vh);
}

.desserts-list__dessert .price:active + .check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.desserts-list__dessert .price:active + .check .fa-check-circle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.desserts-list__dessert .check {
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border-radius: 0px 1rem 1rem 0px;
  background-color: #99E2D0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 60px;
  height: 100%;
}

.desserts-list__dessert .check .fa-check-circle {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  margin: 42%;
  color: white;
}

.bloc-btn {
  width: 90%;
  margin: auto;
  text-align: center;
}

.cover {
  width: 99%;
  margin: auto;
  text-align: center;
  width: 99%;
  height: 200px;
  background-image: url("./Maquettes_Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0px 0px;
}
/*# sourceMappingURL=menu_la_note_enchantee.css.map */