
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/font";
@import "./Composants/btn";
@import "./Composants/heart_btn";
@import "./Utils/keyframes";


body
{
    font-family: 'My_Roboto', serif;
    width: 100%;
    margin: auto;
}

@import "./Layout/header";



.loader
{
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    background: url('../Maquettes_Ohmyfood/GIF/spinner-loader-animation.gif') 50% 50% no-repeat;

    animation: spinner_loader 2s forwards;
    
}
.page_body
{
    animation: page_loader 3s both;
}

.map
{
    @include align-block(99%);
    @include background-color(#DCDCDC);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px #ccc7c7 solid;
   
  
    &__research
    {
        @include align-block();
        @include flex(row, center, center);
    
    }
    input
    {
        border: 0px;
        @include background-color(#DCDCDC);
        margin-left: 15px;
        font-family: 'My_Roboto';
        color: rgb(73, 72, 72);
        @include display-inline-block(middle, left);
        //display: inline-block;
        
    }
    .fa-map-marker-alt
    {
        display: inline-block;
    }
}

.view
{
    @include align-block(99%);
    @include background-color(#EAEAEA);
    position: relative;
    
    
    h2
    {
        
        @include align-block();
        padding-top: 20px;
        font-family: serif;
        margin-top: 0px;
               
    }
    p
    {
        color: rgb(104, 104, 104);
        font-family: serif;
        //font-weight: lighter;
        //font-size: 0.9em;
    }
    
}

h2
{
    margin-left: 30px;
}

.process
{
    @include align-block(100%, left);
    margin-top: 40px;
    position: relative;
    @include screen-only
    {
        @include flex(row, space-around, center);
    }
}
.etape
{
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    @include background-color(#F7F7F7);
    box-shadow: 5px 5px 5px #EAEAEA;
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
        
    p 
    {
        @include display-inline-block(middle, center);       
    }
    &__circle
    {
        padding: 5px;
        width: 20px;
        height: 20px;
        color: white;            
        background-color: $primaryColor;
        border-radius: 20px;
        @include display-inline-block(middle, center);  
         
        margin-right: 25px;        
                     
    }
    
    &__X
    {
        position: relative;
        left: -25px;
        
    }
    .fas, .far
    {
        transform: scale(1.4);
        position: relative;
        //left: -30px;
        margin-right: 25px;
        color: rgb(73, 72, 72);           
    }

    &:hover i
    {
        color: $primaryColor;
    }
}
    

.summary-restaurants
{
    @include align-block(100%, left);
    @include background-color(#EAEAEA);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-top: 20px;
    
    .bloc_restaurants
    {
        @include screen-only
        {
            @include flex(row, space-between, center);
        }
    }

}
//$restaurants: ('restaurant_picture1': , 'restaurant_picture2': , 'restaurant_picture3':, 'restaurant_picture4': );
.restaurant
{
    border-radius: 15px;
    @include align-block(320px, left);    
    background-color: white;
    position: relative;
    margin: 30px;
    margin-bottom: 22px;
    
    
    @include restaurant__new();          
     
    @each $key, $value in $images
    {
        #{$key}
        {
            @include create-image(nth($value,1), nth($value,2), nth($value,3), nth($value,4));
        }
    }

    &__description
    {
        padding-left: 10px;
        @include display-inline-block(middle, left);        
        width: 50%;        
    }
   
    @include heart-btn(25px);
    h4
    {
        margin-bottom: 4px;
    }
    p
    {
        font-family: serif;
        margin-top: 4px;
    }
    
}

@import "./Layout/footer";
