
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/font";
@import "./Composants/btn";



body
{
    font-family: 'My_Roboto', serif;
}

@import "./Layout/header";

.map
{
    @include align-block(99%);
    @include background-color(#DCDCDC);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px #ccc7c7 solid;
  
    &__research
    {
        @include align-block();
        @include flex(row, center, center);
    
    }
    input
    {
        border: 0px;
        @include background-color(#DCDCDC);
        margin-left: 15px;
        font-family: 'My_Roboto';
        color: rgb(73, 72, 72);
        display: inline-block;
        
    }
    .fa-map-marker-alt
    {
        display: inline-block;
    }
}

.view
{
    @include align-block(99%);
    @include background-color(#EAEAEA);
    position: relative;
    
    h2
    {
        
        @include align-block();
        padding-top: 20px;
        font-family: 'My_Shrikhand', serif;
               
    }
    p
    {
        color: rgb(73, 72, 72);
        font-size: 0.9em;
    }
    input 
    {
        padding: 20px;
    }
}

.btn
{
    &--explorate
    {
        border-radius: 2rem;
        //background: radial-gradient(circle, $primaryColor 0%, $secondaryColor 100%);
        background: linear-gradient($secondaryColor, lighten($primaryColor,10), darken($primaryColor, 10));
        color: white;
        box-shadow: 5px 5px 5px #c9c5c5;
    }

    &::after
    {
        box-shadow: 8px 8px 5px #c9c5c5;
        @include btn-after(2rem, radial-gradient(circle, lighten($primaryColor, 10) 0%, lighten($secondaryColor, 10) 100%));
    }
}


.process
{
    @include align-block(99%, left);
    margin-top: 40px;
    position: relative;

    .etape
    {
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        @include background-color(#F7F7F7);
        box-shadow: 5px 5px 5px #EAEAEA;
        position: relative;
        
        p 
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            margin-right: 25;
        }
        &__circle
        {
            padding: 5px;
            width: 20px;
            height: 20px;
            color: white;            
            background-color: $primaryColor;
            border-radius: 20px;   
            display: inline-block;
            text-align: center;
            vertical-align: middle; 
            margin-right: 25px;        
                     
        }
        .fas, .far
        {
            transform: scale(1.4);
            margin-right: 25px;
            color: rgb(73, 72, 72);           
        }
        &__X
        {
            position: relative;
            left: -30px;
        }
    }
    
}

.summary-restaurants
{
    @include align-block(99%, left);
    @include background-color(#EAEAEA);
    padding: 7px;
    position: relative;

}
//$restaurants: ('restaurant_picture1': , 'restaurant_picture2': , 'restaurant_picture3':, 'restaurant_picture4': );
.restaurant
{
    border-radius: 15px;
    @include align-block(320px, left);    
    background-color: white;
    position: relative;
    margin-top: 25px;
    
    @include restaurant__new();          
        
    @each $key, $value in $images
    {
        #{$key}
        {
            @include create-image(nth($value,1), nth($value,2), nth($value,3), nth($value,4));
        }
    }

    &__description
    {
        padding-left: 6px;
        display: inline-block;
        width: 50%;        
    }
    @import "./Composants/heart_btn";
    
}

@import "./Layout/footer";
