@import "../Utils/mixins";
@import "../Base/font";
footer
{
    position: relative;
    @include align-block(99%, left);
    background-color: rgb(73, 72, 72);
    color: white;
    padding-top: 20px;
    //padding-left: 20px;
    padding-bottom: 20px;

    .footer__logo
    {
        
        
        width: 200px;
        margin-bottom: 20px;
        padding-left: 20px;
        @include screen-only
        {
            @include align-block(300px, center);
        }
                
        
        
        font-family: 'My_Shrikhand', serif;        
        font-style: italic;
        
        @include screen-only
        {
            margin: auto;
        }
        
        
        
    }
    
    ul
    {
        list-style-type: none;
        margin-top: 0px;               
        padding-left: 20px;
        @include screen-only
        {
            height: 100px;
            @include flex(row, space-around, center);
        }
    }
   
    a
    {
        display: inline-block;
        @include flex(row, flex-start, center);
        color: white;
        text-decoration: none;       
    }
    i
    {
        margin-right: 6px;
    }
    p
    {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
}