@import "../Utils/mixins";
footer
{
    position: relative;
    @include align-block(99%, left);
    background-color: rgb(73, 72, 72);
    color: white;
    padding: 20px;

    .footer__logo
    {
        @include align-block(300px, center);        
        //@include create-image("../Maquettes_Ohmyfood/images/logo/ohmyfood.png", auto, 80%, 70px);
        //transform: scale(0.5);          
        
        font-size: 1.5rem;
        font-weight: bold;        
        font-style: italic;
        //margin-left: 0px;  
        //position: relative;
        //left: -60px;
        @include screen-only
        {
            margin: auto;
        }
        
        
        margin-bottom: 0px; 
    }
    
    ul
    {
        list-style-type: none;
        margin-top: 0px;               
        padding-left: 12px;
        @include screen-only
        {
            height: 100px;
            @include flex(row, space-around, center);
        }
    }
    
    a
    {
        display: inline-block;
        @include flex(row, flex-start, center);
        color: white;
        text-decoration: none;       
    }
    i
    {
        margin-right: 6px;
    }
    p
    {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
}