@import "../Base/font";
@import "../Utils/mixins";
.header
{
    @include align-block(99%);
    position: relative;
    background-color: white;
    
    
    &__logo
    {
        //@include align-block(100%);        
        @include create-image("../Maquettes_Ohmyfood/images/logo/ohmyfood.png", auto, 300px, 100px);
        margin: auto;
        
          
    }
}