@import "../Base/font";
@import "../Utils/variables";
@import "../Utils/mixins";
@import "./header";
@import "../Composants/btn";
@import "../Composants/heart_btn";
@import "./footer";

@mixin head-choices()
{
    h3
    {
        @include align-block(85%, left);
    }
    hr 
    {
        width: 50px;
        color: $tertiaryColor;
        margin-left: 0px;
    }
} 

@mixin menu-choices()
{
    position: relative;
    @include align-block(85%, left);
    border-radius: 1rem;
    background-color: white;
    border: 1px darken(#EAEAEA, 10) solid;
    box-shadow: 3px 3px 1.5px darken(#EAEAEA, 20);
    padding: 7px;
    margin-bottom: 20px;
            
    h4
    {
        font-family: "My_Shrikhand";
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 10px;
        font-size: 15pt;
                
    }
    p
    {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        display: inline-block;
        font-size: 10pt;
                                
    }
    .price
    {
                
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50px;
        text-decoration: none;
        color: black; 
        transition: transform 1s;
        &:active
        {                   
            
            transform: translate(-70px, 0vh);
            & + .check
            {
                //display: block;
                //transform: scaleX(1);
                transform: translate(-70px, 0vh);
                
                .fa-check-circle
                {
                    transform: rotate(0deg);
                }
            }

            
        }
    }

    .check
    {
        border: 2px black solid;
        position: absolute;
        right: -30px;
        top: 0px;
        display: inline-block;
        border-radius: 0px 1rem 1rem 0px;                
        background-color: $tertiaryColor;
        transform-origin: right center;
        //display: none;
        //transform: scaleX(0);
        //transform: translate(-70px, 0vh);
        transition: transform 1s;
        width: 60px;
        height: 100%;
                
        .fa-check-circle
        {
            transform: rotate(-180deg);
            transition: transform 1.5s;
            margin: 42%;
            color: white;   
                                   
        }
               
    }
}

body
{
    @include align-block(99%, left);
    font-family: "My_Roboto";
}
.header
{
    @include flex(row, space-between, center);
}



.menu
{   
    @include align-block(99%, left);
    position: relative;
    top: -20px;
   
    background-color: #EAEAEA;
    border-radius: 1.5rem;
    
    &__title
    {
        position: relative;
        @include align-block(85%, left);
        @include flex(row, flex-start, center);
        h2
        {
            font-family: "My_Shrikhand";
            font-style: italic;
        }
            
        @include heart-btn(0px);
        
    }

    
}

.entries
{
    position: relative;
    @include head-choices();
    
    &-list
    {
        
        position: relative;
        @include flex(column, space-between, center);
        &__entry
        {
            @include menu-choices();
                     
            
        }
    }

}

.plates
{
    position: relative;
    @include head-choices();

    &-list
    {
        position: relative;
        @include flex(column, space-between, center);
        &__plate
        {
            @include menu-choices();
        }
    }

}

.desserts
{
    position: relative;
    @include head-choices();
    
    &-list
    {
        position: relative;
        @include flex(column, space-between, center);
        &__dessert
        {
            @include menu-choices();
        }
    }

}

.bloc-btn
{
    @include align-block();
}
