@import "../Base/font";
@import "../Utils/variables";
@import "../Utils/mixins";
@import "./header";
@import "../Composants/btn";
@import "../Composants/heart_btn";
@import "../Utils/keyframes";
@import "./footer";



body
{
    //@include align-block(99%, left);
    font-family: "My_Roboto";
    width: 100%;
    margin: auto;
    background-color: #EAEAEA;
}
.header
{
    @include flex(row, space-between, center);
}



.menu
{   
    @include align-block(100%, left);
    position: relative;
    top: -20px;
   
    background-color: #EAEAEA;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    
    
    &__title
    {
        position: relative;
        @include align-block(90%, left);
        
        
        @include flex(row, flex-start, center);
        h2
        {
            font-family: "My_Shrikhand";
            font-style: italic;
            @include screen-only
            {
                //position: relative;
                //left: 50%;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
            
        @include heart-btn(0px);
        
    }

    
}

.entries
{
    animation: pop_up 1s 0s both;
    position: relative;
    @include head-choices();
    
    
    &-list
    {
        
        position: relative;
        @include flex(column, space-between, center);
        
        @include screen-only
        {
            @include flex(row, space-between, center);
        }
        &__entry
        {           
            z-index: 1;     
            @include menu-choices(); 
        }
    }

}

.plates
{
    animation: pop_up 1s 0.25s both;
   
    position: relative;
    @include head-choices();

    &-list
    {
        position: relative;
        @include flex(column, space-between, center);
        @include screen-only
        {
            @include flex(row, space-between, center);
        }
        &__plate
        {   z-index: 1;         
            @include menu-choices();
        }
    }

}

.desserts
{
    animation: pop_up 1s 0.5s both;    
    position: relative;
    @include head-choices();
    
    &-list
    {
        position: relative;
        @include flex(column, space-between, center);
        @include screen-only
        {
            @include flex(row, space-between, center);
        }
        &__dessert
        {
            z-index: 1;  
            @include menu-choices();
        }
    }

}

.bloc-btn
{
    @include align-block(100%);
    background-color: #EAEAEA;
    margin-top: 20px;
    margin-bottom: 40px;
    
}



.price
{          
        
    position: absolute;
    right: 0px;        
    top: 0px;
    text-decoration: none;
    color: black;
    width: 150px;
    height: 100%;
    overflow: hidden;
        
        
    &__link
    {
        display: inline-block;            
        position: relative;
        top: 43px;
        right: -110px;
        width: 30px;
        text-decoration: none; 
        color: black;                       
        cursor: pointer;
        transition: transform 0.4s;        
    }
    &__link:active
    {                   
        transform: translate(-7vh, 0vh);
        
            
        & + .check
        {
            
            transform: translate(-6vh, 0vh);
            @include screen-only
            {
                transform: translate(-7.5vh, 0vh); 
            }

                               
            .fa-check-circle
            {
                transform: rotate(0deg);
            }
        }

            
    }

       

}

    

.check
{
       
    
    position: absolute;    
    right: -50px;
    top: 0;
    border-radius: 0rem 1rem 1rem 0rem;
               
    display: inline-block;
                     
    background-color: $tertiaryColor;        
        
    transition: all 0.4s ease;
    width: 50px;
    height: 100%;
      
                
    .fa-check-circle
    {
        transform: rotate(-180deg);
        transition: transform 0.4s;
        margin: 42%;
        color: white;   
                                   
    }
               
}
