@import "../Base/font";
@import "../Utils/variables";
@import "../Utils/mixins";
@import "./header";
@import "../Composants/btn";
@import "../Composants/heart_btn";
@import "../Utils/keyframes";
@import "./footer";



body
{    
    font-family: "My_Roboto";
    width: 100%;
    margin: auto;
    background-color: $backgroundColor;
}
.header
{
    //@include flex(row, space-between, center);
}



.menu
{   
    @include align-block(100%, left);
    position: relative;
    top: -20px;
   
    background-color: $backgroundColor;
    border-radius: 1.5rem 1.5rem 0rem 0rem;       
}

.menu__title
{
    position: relative;
    @include align-block(90%, left);
                
    @include flex(row, flex-start, center);
    h2
    {
        font-family: "My_Shrikhand";
        font-style: italic;
        @include screen-only
        {                
            @include align-block(300px, center);
        }
    }
            
    @include heart-btn(0px);
        
}

.entries
{
    animation: pop_up 4s 0s both;
    position: relative;
    @include head-choices();
}
    
    
.entries-list
{
        
    position: relative;
    @include flex(column, space-between, center);
        
    @include screen-only
    {
        @include flex(row, space-between, center);
    }
    &__entry
    {     
        @include menu-choices(); 
    }
}



.plates
{
    animation: pop_up 4s 2s both;   
    position: relative;
    @include head-choices();
}

.plates-list
{
    position: relative;
    @include flex(column, space-between, center);
    @include screen-only
    {
        @include flex(row, space-between, center);
    }
    &__plate
    {            
        @include menu-choices();
    }
}



.desserts
{
    animation: pop_up 4s 4s both;    
    position: relative;
    @include head-choices();
}
    
.desserts-list
{
    position: relative;
    @include flex(column, space-between, center);
    @include screen-only
    {
        @include flex(row, space-between, center);
    }
    &__dessert
    {            
        @include menu-choices();
    }
}



.bloc-btn
{
    @include align-block(100%);
    background-color: $backgroundColor;    
    @include set-margin(20px, 'none', 40px, 'none');
    
}



.price
{          
        
    position: absolute;
    right: -50px;        
    top: 0px;
    text-decoration: none;
    color: black;    
    height: 100%;    
        
        
    &__link
    {
        display: inline-block;            
        position: relative;
        top: 23px;        
        width: 30px;
        text-decoration: none; 
        color: black;                       
        cursor: pointer;
        transition: transform 2s;
        margin-right: 10px;        
    }
   
}

    

.check
{
  
    border-radius: 0rem 1rem 1rem 0rem;
               
    display: inline-block;
                     
    background-color: $tertiaryColor;        
        
    transition: all 2s ease;
    width: 50px;
    height: 100%;
      
                
    .fa-check-circle
    {
        transform: rotate(-180deg);
        transition: transform 2s;
        margin: 42%;
        color: white;   
                                   
    }
               
}
