@keyframes spinner_loader 
{
    0%,99%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(0);
    }
}

@keyframes page_loader
{
    0%, 99%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
}