@mixin align-block($width: 90%, $text-align: center)
{
    width: $width;
    margin: auto;
    text-align: $text-align;
}

@mixin flex($direction, $justify-content, $align-items)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: wrap;
}

@mixin display-inline-block($position, $text-align)
{
    display: inline-block;
    vertical-align: $position;
    text-align: $text-align;
}

@mixin create-image($urlImage, $background_size, $width, $height)
{
    width: $width;
    height: $height;
    background-image: url($urlImage);
    background-repeat: no-repeat;
    background-size: $background_size;    
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}
@mixin background-color($color)
{
    background-color: $color;
}


@mixin btn-after($border_radius, $background_color)
{
    content: "";
    position: absolute;        
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms;
    box-shadow: 8px 8px 5px #c9c5c5;
    border-radius: $border_radius;
    background: $background_color;   
}

@mixin restaurant__new()
{
    &__new
    {
        z-index: 1;
        position: relative;

        &::after
        {
            content: "Nouveau";
            position: absolute;
            z-index: 2;
            top: 20px;
            right: 7px;
            width: 80px;
            padding: 5px;
            text-align: center;
            background-color: darken($tertiaryColor, 5);
            color: darken($color: $tertiaryColor, $amount: 40);
            border-radius: 0.2rem;
        }

    }
}



@mixin screen-only
{
    @media (min-width: 800px)
    {
        @content;
    }
}


@mixin menu-choices()
{
    position: relative;
    @include align-block(90%, left);
    border-radius: 1rem;
    background-color: white;
    border: 1px darken(#EAEAEA, 10) solid;
    box-shadow: 3px 3px 1.5px darken(#EAEAEA, 20);
    padding: 5px;
    margin-bottom: 20px;
    
            
    h4
    {
        font-family: "My_Shrikhand";
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 10px;
        font-size: 15pt;
        width: 350px;
                
    }
    p
    {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        display: inline-block;
        //font-size: 10pt;
        font-family: serif;
                                
    }
       
}


@mixin head-choices()
{
    margin-top: 30px;
    h3
    {
        @include align-block(85%, left);
        font-family: serif;
        font-weight: lighter;
    }
    hr 
    {
        width: 50px;
        border: 2px solid $tertiaryColor;
        margin-left: 0px;
    }
} 

@mixin menu-choices()
{
    position: relative;
    @include align-block(90%, left);
    border-radius: 1rem;
    background-color: white;
    border: 1px darken(#EAEAEA, 10) solid;
    box-shadow: 3px 3px 1.5px darken(#EAEAEA, 20);
    padding: 5px;
    margin-bottom: 20px;
    
            
    h4
    {
        font-family: "My_Shrikhand";
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 10px;
        font-size: 15pt;
        width: 350px;
                
    }
    p
    {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        display: inline-block;
        //font-size: 10pt;
        font-family: serif;
                                
    }
       
}