@mixin set-margin($margin_top: null, $margin_right: null, $margin_bottom: null, $margin_left: null)
{
    @if $margin_top
    {
        margin-top: $margin_top;
    }
    @if $margin_right
    {
        margin-right: $margin_right;
    }
    @if $margin_bottom
    {
        margin-bottom: $margin_bottom;
    }
    @if $margin_left
    {
        margin-left: $margin_left;
    }
}

@mixin align-block($width: 90%, $text-align: center)
{
    width: $width;
    //margin-left: auto;
    //margin-right: auto;
    @include set-margin(auto, auto, auto, auto);
    text-align: $text-align;
}

@mixin flex($direction, $justify-content, $align-items)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: wrap;
}

@mixin display-inline-block($position, $text-align)
{
    display: inline-block;
    vertical-align: $position;
    text-align: $text-align;
}

@mixin create-image($urlImage, $background_size, $width, $height)
{
    width: $width;
    height: $height;
    background-image: url($urlImage);
    background-repeat: no-repeat;
    background-size: $background_size;    
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}
@mixin background-color($color)
{
    background-color: $color;
}


@mixin btn-after($border_radius, $background_color)
{
    content: "";
    position: absolute;        
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    box-shadow: 8px 8px 5px #c9c5c5;
    border-radius: $border_radius;
    background: $background_color;   
}

@mixin restaurant__new()
{
    &__new
    {
        z-index: 1;
        position: relative;

        &::after
        {
            content: "Nouveau";
            position: absolute;
            z-index: 2;
            top: 20px;
            right: 7px;
            width: 80px;
            padding: 5px;
            text-align: center;
            background-color: darken($tertiaryColor, 5);
            color: darken($color: $tertiaryColor, $amount: 40);
            border-radius: 0.2rem;
        }

    }
}



@mixin screen-only
{
    @media (min-width: 1200px)
    {
        @content;
    }
}

@mixin  ipad-only
{
    @media (min-width: 376px) and (max-width: 1200px)
    {
        @content;
    }
}





@mixin head-choices()
{
    margin-top: 30px;
    h3
    {
        @include align-block(90%, left);
        font-family: serif;
        font-weight: lighter;
    }
    hr 
    {
        width: 50px;
        border: 2px solid $tertiaryColor;
        margin-left: 21px;
        @include ipad-only
        {
            margin-left: 40px;
        }
        @include screen-only
        {
            margin-left: 67px;
        }
    }
} 

@mixin menu-choices()
{
    @include align-block(340px, left);
    @include screen-only
    {
        @include align-block(350px, left);
    }
    position: relative;
    z-index: 1;    
    border-radius: 1rem;
    background-color: white;
    border: 1px darken(#EAEAEA, 10) solid;
    box-shadow: 3px 3px 1.5px darken(#EAEAEA, 20);
    padding: 5px;
    margin-bottom: 20px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;  
            
    h4
    {
        font-family: serif;
        @include set-margin(10px, 10px, 5px, 5px);               
        width: 310px;
                
    }
    p
    {
        position: relative;
        width: 80%;
        @include set-margin(5px, 10px, 5px, 5px);        
        display: inline-block;        
        font-family: serif;
        overflow: hidden;
        text-overflow: ellipsis;
        
                                
    }
   
    &:active
    {
        p
        {
            width: 40%;
        }
        .price__link
        {
            transform: translate(-7vh, 0vh);
        }
        .check
        {
            transform: translate(-6vh, 0vh);
            @include screen-only
            {
                transform: translate(-7.5vh, 0vh); 
            }                              
            
        }

        .fa-check-circle
        {
            transform: rotate(0deg);
        }
    }
       
}


