@mixin align-block($width: 90%, $text-align: center)
{
    width: $width;
    margin: auto;
    text-align: $text-align;
}

@mixin flex($direction, $justify-content, $align-items)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin create-image($urlImage, $background_size, $width, $height)
{
    width: $width;
    height: $height;
    background-image: url($urlImage);
    background-repeat: no-repeat;
    background-size: $background_size;    
    background-position: center;
    border-radius: 10px 10px 0px 0px;
}
@mixin background-color($color)
{
    background-color: $color;
}


@mixin btn-after($border_radius, $background_color)
{
    content: "";
    position: absolute;        
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms;
    box-shadow: 8px 8px 5px #c9c5c5;
    border-radius: $border_radius;
    background: $background_color;   
}

@mixin restaurant__new()
{
    &__new
    {
        z-index: 1;
        position: relative;

        &::after
        {
            content: "Nouveau";
            position: absolute;
            z-index: 2;
            top: 20px;
            right: 7px;
            width: 80px;
            padding: 5px;
            text-align: center;
            background-color: darken($tertiaryColor, 5);
            color: darken($color: $tertiaryColor, $amount: 40);
            border-radius: 0.2rem;
        }

    }
}

@mixin screen-only
{
    @media (min-width: 800px)
    {
        @content;
    }
}
