@font-face
{
	font-family: "My_Roboto";
	src: url('./Polices/Roboto-Black.ttf') format('TrueType');  
    
}
@font-face
{
    font-family: "My_Shrikhand";
	src: url('./Polices/Shrikhand-Regular.otf') format('otf');
}
